<div class="container">
    <div class="row">
        <div class="col-3">

            <h5 class="text-warning ms-2">Sort</h5>
            <select class="form-select mb-4" (change)="onSortSelected($event)">
                <option value="nameAsc">Alphabetical</option>
                <option value="priceAsc">Price: low to high</option>
                <option value="priceDesc">Price: high to low</option>
            </select>

            <h5 class="text-warning ms-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" style="cursor: pointer;" (click)="onBrandIdSelected($event)"
                    value="{{brand.id}}" [class.active]="brand.id === shopParams.brandId" *ngFor="let brand of brands">
                    {{brand.name}}</li>
            </ul>
            <h5 class="text-warning ms-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" style="cursor: pointer;" (click)="onTypeIdSelected($event)"
                    value="{{type.id}}" [class.active]="type.id === shopParams.typeId" *ngFor="let type of types">
                    {{type.name}}
                </li>
            </ul>
        </div>

        <div class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <!-- paging header -->
                <app-paging-header [PageIndex]="shopParams.PageIndex" [PageSize]="shopParams.PageSize"
                    [Count]="shopParams.Count"></app-paging-header>
                <!-- paging header -->
                <div class="d-flex mt-2">
                    <input (keyup.enter)="onProductSearched()" type="text" placeholder="search"
                        class="form-control me-2" #searchKey />
                    <button class="btn btn-outline-primary mx-2" (click)="onProductSearched()">Search</button>
                    <button (click)="onResetButtonClicked()" class="btn btn-outline-success">Reset</button>
                </div>
            </div>

            <div class="row row-cols-3 g-3">
                <div class="col" style="min-height:100px;" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-3" *ngIf="shopParams.Count > 0">
                <app-pager [PageSize]="shopParams.PageSize" [Count]="shopParams.Count"
                    (pageChanged)="onPageChanged($event)"></app-pager>
            </div>
        </div>
    </div>
</div>